# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.scratch/

# Backend
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
apps/api/.env

# Firebase
apps/web/.env
